body {
    background-color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: transparent;
    background: linear-gradient(to right, #a00a0a, #0303ff);
    -webkit-background-clip: text;
    background-clip: text;
}

.container {
    padding: 10px 0;
    width: 300px;
}

.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}

.cap {
    width: 60px;
    height: 25px;
}

.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75);
}

.cap,
.sleeve {
    display: inline-block;
}

.red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}

.green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
}


.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
}

.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75);
}

p {
    background: linear-gradient(to left, #c3d805, #012e72);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
    font-weight: 20px;
    text-transform: uppercase;

}

.button {
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    font-size: 15px;
    border-radius: 20%;
}

#aviso {
    animation: move 12s linear infinite;
    opacity: 0;
}

@keyframes move {

    0%,
    100% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
        opacity: 1;
    }
}